//! **************************************************************************
// Written by: Map P.15xf on Mon Oct 21 15:08:10 2013
//! **************************************************************************

SCHEMATIC START;
COMP "reloj" LOCATE = SITE "T9" LEVEL 1;
COMP "C" LOCATE = SITE "F15" LEVEL 1;
COMP "G" LOCATE = SITE "L5" LEVEL 1;
COMP "L" LOCATE = SITE "N2" LEVEL 1;
COMP "R" LOCATE = SITE "P12" LEVEL 1;
COMP "rst" LOCATE = SITE "J4" LEVEL 1;
NET "reloj_BUFGP/IBUFG" BEL "reloj_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

